.c10.c5>img[src*="image01"] {
	float: right;
}
.c10.c5>img[src*="image02"] {
	float: left;
	margin-top: 5px;
}
body.c13 {
	padding-top: 0pt;
}
.c0 {
	display: block;
	height: 60px;
	width: 100%;
}
.c0 img {
	float: left;
}
span.c4.c7 {
	float: right;
	padding-top: 47px;
}
